<mat-toolbar>
    <div class="data-usage-box">
        <mat-progress-bar 
            mode="determinate" 
            value="20"></mat-progress-bar>
        <a mat-button >1.98 GB of 15 GB <mat-icon>launch</mat-icon></a>
    </div>
    <div class="terms-box">
        <a mat-basic-button>Terms</a>
        <a mat-basic-button>Privacy</a>
        <a mat-basic-button>Program Policies</a>
    </div>
    <div class="data-activity-box">
        <a mat-basic-button>Last account activity: 15 minutes ago</a>
    </div>
</mat-toolbar>