<div class="email-wrapper">
    <div class="email-header">
        <div class="left-box">
            <button class="profile-pic">
                <img [src]="'./assets/imgs/profile_pic_2.jpg'" alt="">
            </button>
        </div>
    </div>
    <div class="email-body">
        
    </div>
    <div class="email-footer">
        <button mat-stacked-button>
            <mat-icon></mat-icon> Reply
        </button>
        <button mat-stacked-button>
            <mat-icon></mat-icon> Forward
        </button>
    </div>
</div>