$blue: #1a73e8;
$grey: #202124;
$main-red: #d93025;
$light-red: #fce8e6;
$light-grey: #e8eaed;
$soft-grey: #4a4a4a;
$bight-yellow: #f4c84b;
$background-grey: #f1f3f4;
$scroll-grey: #cccccc;
$progress-bar-color: #5f6368;